autocorrect==2.5.0
autopep8==1.5.7
click==8.0.1
imutils==0.5.4
joblib==1.0.1
nltk==3.6.3
numpy==1.21.1
opencv-contrib-python-headless==4.5.4.58
opencv-python==3.4.8.29
pep517==0.12.0
Pillow==8.3.2
pip-tools==6.4.0
PyAudio==0.2.11
pycodestyle==2.7.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyspellchecker==0.6.2
regex==2021.8.28
textblob==0.15.3
toml==0.10.2
tomli==1.2.2
tqdm==4.62.3
wordsegment==1.3.1
